<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Form</title>
</head>
<body>
<form action="/product/save" method="post">
    <input name="name" placeholder="Product name">
    <input name="price" placeholder="Price">
    <button>Save</button>
</form>

<h3>Product mặc định (p1)</h3>
<ul>
    <li th:text="${p1.name}">?1name</li>
    <li th:text="${p1.price}">?1price</li>
</ul>

<h3>Product do người dùng nhập (p2)</h3>
<ul>
    <li th:text="${p2.name}">?2name</li>
    <li th:text="${p2.price}">?2price</li>
</ul>

<h3>Danh sách sản phẩm (items)</h3>
<ul>
    <th:block th:each="item : ${items}">
        <li th:text="${item.name}">item.name</li>
        <li th:text="${item.price}">item.price</li>
    </th:block>
</ul>
</body>
</html>
